{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        /* 영화 포스터 카드 스타일 */
        .movie-card {
            margin-bottom: 1vh;
            align-items: flex-start;
        }

        .card {
            flex-direction: row;
        }
        .movie-poster {
            max-width: 15vh;
            height: auto;

        }

        .movie-info {
            margin-top:1vh;
            flex: 1;
        }

        /* 페이지 전체를 가운데 정렬 */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }


        @media (max-width: 768px) {
            /* 스마트폰 화면 크기에 맞춰서 포스터 크기를 조정 */
            .movie-poster {
                max-width: 150px;
                text-align:center;
                margin-bottom: 2.5vh;
            }
        }
        p {
            margin: 0px 0px 0px 0px; line-height: 120%;
        }
        .dummy {
            width: 100%; /* 컨테이너의 너비를 100%로 설정 */
            height: 10vh;
        }
    </style>

{% if not movies %}
<hr>
<h1>"{{q}}"에 대한 검색 결과가 없습니다.</h1>
<hr>
    {% else %}
    <div class="container">
        <div class="row">
            {% for movie in movies %}
                <div class="col-12">
                    <div class="card movie-card ">
                         {% if movie.poster %}
                            <img class="movie-poster col-6" src="{{ movie.poster.url }}" alt="Movie Poster">
                        {% else %}
                            <div class="card-body text-center">
                                <h5 class="card-title">No Poster Available</h5>
                            </div>
                        {% endif %}
                        <div class="movie-info col-6">
                            <h1 style="color:#FFD600; margin: 0px 0px 0px 0px;">★★★★★</h1>
                            <h2 style="color:#FF4FED">★★★★★</h2>
                            <h1>{{ movie.title }}</h1>
                            <p>
                            개봉일: {{ movie.release_date|date:"SHORT_DATE_FORMAT" }}<br>
                            장르: {{ movie.genre }}<br>
                            상영 시간: {{ movie.running_time }} 분<br>
                            출연진: {{ movie.cast }}<br>
                            줄거리: {{ movie.plot|truncatewords:"20" }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
            <div class="dummy">

            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
